<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIGNIN</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="main">

        <div class="container">
            <div class="signup-content">
                <form method="POST" id="signup-form" action="logout" class="signup-form" >
                    <h2>User Profile</h2>


                   <div class="form-group">
                     <p class="list-group-item "><b>Name:</b><%- user.name %></p>
                     <p class="list-group-item "><b>Username:</b><%- user.username %></p>
                     <p class="list-group-item "><b>Email:</b><%- user.email %></p>
                     <p class="list-group-item "><b>Phone:</b><%- user.phone %></p>
                     <p class="list-group-item "><b>Gender:</b><%- user.gender %></p>

                    <div class="form-group">
                      <input type="submit" name="submit" id="submit" class="form-submit submit" value="Sign Out"/>

                   </div>
                </form>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
